.PokemonList {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 2rem;
    margin: 3rem;
    padding: 0 3rem 3rem;
}

@media (max-width: 600px) {
    .PokemonList {
        display: block; /* Cambia a diseño de columna */
        margin: 1rem; /* Ajusta el margen para una apariencia adecuada en móvil */
        padding: 0; /* Elimina el relleno adicional */
    }
}