@import 'antd/dist/antd.css';

.App{
  margin-top: 2rem;
}

.App img {
  margin-bottom: 3rem;
}

footer {
  width: 100%;
  color: white;
  background-color: #333333 ;
  position: fixed;
  bottom: 0;
  text-align: center; 
}